<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="com.md.ExtentReportListener.Listener"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.md.testcases.QuickQuotesTest"/>
      <class name="com.md.testcases.ContractTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
