<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listners>
		<listners class-name="com.md.util.ExtentReportListener"/>
	</listners>


		<test thread-count="5" name="Test">
			<classes>
				<class name="com.md.testcases.QuickQuotesTest" />
			</classes>
		</test> <!-- Test -->
</suite> <!-- Suite -->
